In [5]:
import pandas as pd
import numpy as np

In [10]:
arr = np.array([1,2,3,4,5,6,7,8,9,10])
series = pd.Series(arr)
print("this is a panda series")
print(series)

print("Index:", series.index)
print("Values:", series.values)

this is a panda series
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
Index: RangeIndex(start=0, stop=10, step=1)
Values: [ 1  2  3  4  5  6  7  8  9 10]

In [11]:
print("Sum:",series.sum())

Sum: 55

In [12]:
print("min:",series.min())

min: 1

In [13]:
print("max:",series.max())

max: 10

In [18]:
print(dictionarry['Name'])

0    Achille
1     Alicia
2      Jaden
3     Gianni
Name: Name, dtype: object

In [27]:
dictionarry['Age']= dictionarry['Age'].apply(lambda x: x + 1)
print(dictionarry)

      Name  Age     city  Gender
0  Achille   51    Paris    Male
1   Alicia   49   Angers  Female
2    Jaden   24  Neuilly    Male
3   Gianni   19  Neuilly    Male

In [28]:
dictionarry['Gender']=['Male','Female','Male','Male']
print(dictionarry)

      Name  Age     city  Gender
0  Achille   51    Paris    Male
1   Alicia   49   Angers  Female
2    Jaden   24  Neuilly    Male
3   Gianni   19  Neuilly    Male

In [29]:
dictionarry['Age']=[45,43,18,13]
print(dictionarry)

      Name  Age     city  Gender
0  Achille   45    Paris    Male
1   Alicia   43   Angers  Female
2    Jaden   18  Neuilly    Male
3   Gianni   13  Neuilly    Male

In [30]:
filtered_age= dictionarry[dictionarry ['Age']>40]
print(filtered_age)

      Name  Age    city  Gender
0  Achille   45   Paris    Male
1   Alicia   43  Angers  Female

In [35]:
# Accessing rows
print("\nAccessing rows:")
print(dictionarry.iloc[1]) # Accessing a single row by index

Accessing rows:
Name      Alicia
Age           43
city      Angers
Gender    Female
Name: 1, dtype: object

In [37]:
# Accessing a single row by label
print(dictionarry.loc[0])

Name      Achille
Age            45
city        Paris
Gender       Male
Name: 0, dtype: object

In [2]:
# Accessing elements
#print("\nAccessing elements:")
#print(dictionarry.at[0, 'Age'])  # Accessing a single element by label
#print(dictionarry.iat[1, 2])  # Accessing a single element by index

In [4]:
import pandas as pd

Exercise 1: Planetary Analysis with Pandas üåè

You are part of a team working on analyzing planetary Earth data. Your task is to process and analyze the data using Pandas to extract insights.

Objectives:
Create a Pandas Series representing distances of planets from the Sun (in million kilometers)


Create a Pandas DataFrame representing characteristics of moons of the outer planets
Analyze the data to find key information about planetary distances and moon characteristics

In [5]:
planet_distances = {
    'Mercury': 57.9,
    'Venus': 108.2,
    'Earth': 149.6,
    'Mars': 227.9,
    'Jupiter': 778.6,
    'Saturn': 1433.5,
    'Uranus': 2872.5,
    'Neptune': 4495.1,
    'Pluto': 5906.4
}

moon_data = {
    'Planet': ['Jupiter', 'Jupiter', 'Saturn', 'Saturn', 'Uranus', 'Neptune'],
    'Moon': ['Io', 'Ganymede', 'Titan', 'Rhea', 'Titania', 'Triton'],
    'Diameter (km)': [3642, 5262, 5150, 1528, 1578, 2707],
    'Orbital Period (days)': [1.77, 7.15, 15.95, 4.52, 8.71, 5.88]
}

In [7]:
planet_series= pd.Series(planet_distances)
print("This is distances of planet from the sun")
print(planet_series)

This is distances of planet from the sun
Mercury      57.9
Venus       108.2
Earth       149.6
Mars        227.9
Jupiter     778.6
Saturn     1433.5
Uranus     2872.5
Neptune    4495.1
Pluto      5906.4
dtype: float64

In [8]:
moon_data= pd.DataFrame(moon_data)
print("this is moon caracteristics outer planet")
print(moon_data)

this is moon caracteristics outer planet
    Planet      Moon  Diameter (km)  Orbital Period (days)
0  Jupiter        Io           3642                   1.77
1  Jupiter  Ganymede           5262                   7.15
2   Saturn     Titan           5150                  15.95
3   Saturn      Rhea           1528                   4.52
4   Uranus   Titania           1578                   8.71
5  Neptune    Triton           2707                   5.88

In [11]:
print("number of moon")

number of moon

In [29]:
outer_planet = ['Jupiter','Saturn', 'Uranus', 'Neptune']
for planet in outer_planet:
    num_moon = moon_data[moon_data['Planet']==planet].shape[0]
    print(f"{planet} :{num_moon}")

Jupiter :2
Saturn :2
Uranus :1
Neptune :1

In [28]:
for planet in outer_planets:
    largest_moon = moon_data[moon_data['Planet'] == planet].sort_values(by='Diameter (km)', ascending=False).iloc[0]
    print(f"{planet}: {largest_moon['Moon']} ({largest_moon['Diameter (km)']} km)")

largest planet sort in km
Neptune: Triton, (2707km)

Working with Real Life Data ‚òÑÔ∏è
Pandas allows us to work with a wide range of file formats from external sources. The code below allows us to import data via CSV and display information about it.

The below downloads a CSV file of the most recent SpaceX Missions using a URL:

In [48]:
import pandas as pd
space_x_mission_csv = "https://raw.githubusercontent.com/BriantOliveira/SpaceX-Dataset/master/dataset/SpaceX-Missions.csv"
df=pd.read_csv(space_x_mission_csv)
print(df.head())

  Flight Number    Launch Date Launch Time       Launch Site Vehicle Type  \
0          F1-1  24 March 2006       22:30  Marshall Islands     Falcon 1
1          F1-2  21 March 2007       01:10  Marshall Islands     Falcon 1
2          F1-3  3 August 2008       03:34  Marshall Islands     Falcon 1
3          F1-3  3 August 2008       03:34  Marshall Islands     Falcon 1
4          F1-3  3 August 2008       03:34  Marshall Islands     Falcon 1

         Payload Name             Payload Type  Payload Mass (kg)  \
0         FalconSAT-2       Research Satellite               19.5
1             DemoSat                      NaN                NaN
2         Trailblazer  Communication Satellite                NaN
3  PRESat, NanoSail-D      Research Satellites                8.0
4           Explorers            Human Remains                NaN

  Payload Orbit Customer Name Customer Type Customer Country Mission Outcome  \
0           NaN         DARPA    Government    United States         Failure
1           NaN         DARPA    Government    United States         Failure
2           NaN           ORS    Government    United States         Failure
3           NaN          NASA    Government    United States         Failure
4           NaN      Celestis      Business    United States         Failure

                  Failure Reason Landing Type Landing Outcome
0      Engine Fire During Launch          NaN             NaN
1  Engine Shutdown During Launch          NaN             NaN
2        Collision During Launch          NaN             NaN
3        Collision During Launch          NaN             NaN
4        Collision During Launch          NaN             NaN

In [36]:
print(df.info())# Check basic information about the DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Flight Number      41 non-null     object
 1   Launch Date        41 non-null     object
 2   Launch Time        41 non-null     object
 3   Launch Site        41 non-null     object
 4   Vehicle Type       41 non-null     object
 5   Payload Name       41 non-null     object
 6   Payload Type       38 non-null     object
 7   Payload Mass (kg)  33 non-null     float64
 8   Payload Orbit      36 non-null     object
 9   Customer Name      39 non-null     object
 10  Customer Type      39 non-null     object
 11  Customer Country   39 non-null     object
 12  Mission Outcome    41 non-null     object
 13  Failure Reason     8 non-null      object
 14  Landing Type       21 non-null     object
 15  Landing Outcome    21 non-null     object
dtypes: float64(1), object(15)
memory usage: 5.3+ KB
None

In [38]:
print(df.describe())

       Payload Mass (kg)
count          33.000000
mean         2739.772727
std          2131.502973
min             8.000000
25%           570.000000
50%          2490.000000
75%          4159.000000
max          9600.000000

In [39]:
mean_payload_mass =df['Payload Mass (kg)'].mean()
print(mean_payload_mass)

2739.7727272727275

In [40]:
median_payload_mass =df['Payload Mass (kg)'].median()
print(median_payload_mass)

2490.0

In [41]:
sum_payload_mass =df['Payload Mass (kg)'].sum()
print(sum_payload_mass)

90412.5

In [42]:
std_payload_mass =df['Payload Mass (kg)'].std()
print(std_payload_mass)

2131.502972856349

In [43]:
var_payload_mass =df['Payload Mass (kg)'].var()
print(var_payload_mass)

4543304.923295454

In [45]:
# Print all unique launch sites in the dataset
pd.unique(df['Launch Site'])

array(['Marshall Islands', 'Cape Canaveral AFS LC-40',
       'Vandenberg AFB SLC-4E', 'Kennedy Space Center LC-39A'],
      dtype=object)

In [47]:
import numpy as np
# Describe the statistical values of all the numerical columns within the dataset 
df.describe(include=[np.number])

       Payload Mass (kg)
count          33.000000
mean         2739.772727
std          2131.502973
min             8.000000
25%           570.000000
50%          2490.000000
75%          4159.000000
max          9600.000000

In [62]:
select_columns = df[['Payload Name','Payload Orbit']]
print(select_columns.head())

         Payload Name Payload Orbit
0         FalconSAT-2           NaN
1             DemoSat           NaN
2         Trailblazer           NaN
3  PRESat, NanoSail-D           NaN
4           Explorers           NaN

In [69]:
filtered_payload= df[df['Payload Mass (kg)']>3000].sort_values(by='Flight Number',ascending=False)
print(filtered_payload)

   Flight Number       Launch Date Launch Time               Launch Site  \
38          FT-9  1 September 2016       13:07  Cape Canaveral AFS LC-40
37          FT-8    14 August 2016       05:26  Cape Canaveral AFS LC-40
34          FT-6      15 June 2016       14:29  Cape Canaveral AFS LC-40
35          FT-6      15 June 2016       14:29  Cape Canaveral AFS LC-40
33          FT-5       27 May 2016       21:39  Cape Canaveral AFS LC-40
32          FT-4        6 May 2016       05:21  Cape Canaveral AFS LC-40
31          FT-3      8 April 2016       20:43  Cape Canaveral AFS LC-40
30          FT-2      4 March 2016       23:35  Cape Canaveral AFS LC-40
39         FT-10   14 January 2017       17:54     Vandenberg AFB SLC-4E
15          F9-8   6 December 2014       22:06  Cape Canaveral AFS LC-40
14          F9-7   3 December 2013       22:41  Cape Canaveral AFS LC-40
26         F9-18     27 April 2015       23:03  Cape Canaveral AFS LC-40
23         F9-16      2 March 2015       03:50  Cape Canaveral AFS LC-40
24         F9-16      2 March 2015       03:50  Cape Canaveral AFS LC-40
19         F9-12  7 September 2014       05:00  Cape Canaveral AFS LC-40
18         F9-11     5 August 2014       08:00  Cape Canaveral AFS LC-40

                   Vehicle Type                    Payload Name  \
38  Falcon 9 Full Thrust (v1.2)                          Amos-6
37  Falcon 9 Full Thrust (v1.2)                        JCSAT-16
34  Falcon 9 Full Thrust (v1.2)                          ABS-2A
35  Falcon 9 Full Thrust (v1.2)  Eutelsat 117 West B (Satmex 9)
33  Falcon 9 Full Thrust (v1.2)                       Thaicom 8
32  Falcon 9 Full Thrust (v1.2)                        JCSAT-14
31  Falcon 9 Full Thrust (v1.2)                    SpaceX CRS-8
30  Falcon 9 Full Thrust (v1.2)                           SES-9
39  Falcon 9 Full Thrust (v1.2)               Iridium NEXT 1-10
15              Falcon 9 (v1.1)                       Thaicom 6
14              Falcon 9 (v1.1)                           SES-8
26              Falcon 9 (v1.1)       TurkmenAlem 52E/MonacoSAT
23              Falcon 9 (v1.1)                          ABS-3A
24              Falcon 9 (v1.1)  Eutelsat 115 West B (Satmex 7)
19              Falcon 9 (v1.1)                       AsiaSat 6
18              Falcon 9 (v1.1)                       AsiaSat 8

               Payload Type  Payload Mass (kg)                 Payload Orbit  \
38  Communication Satellite             5500.0  Geostationary Transfer Orbit
37  Communication Satellite             4600.0  Geostationary Transfer Orbit
34  Communication Satellite             3600.0  Geostationary Transfer Orbit
35  Communication Satellite             3600.0  Geostationary Transfer Orbit
33  Communication Satellite             3100.0  Geostationary Transfer Orbit
32  Communication Satellite             4696.0  Geostationary Transfer Orbit
31   Space Station Supplies             3136.0               Low Earth Orbit
30  Communication Satellite             5271.0  Geostationary Transfer Orbit
39  Communication Satellite             9600.0               Low Earth Orbit
15  Communication Satellite             3325.0  Geostationary Transfer Orbit
14  Communication Satellite             3170.0  Geostationary Transfer Orbit
26  Communication Satellite             4707.0  Geostationary Transfer Orbit
23  Communication Satellite             4159.0  Geostationary Transfer Orbit
24  Communication Satellite             4159.0  Geostationary Transfer Orbit
19  Communication Satellite             4428.0  Geostationary Transfer Orbit
18  Communication Satellite             4535.0  Geostationary Transfer Orbit

               Customer Name Customer Type Customer Country Mission Outcome  \
38                  Spacecom      Business           Israel         Failure
37    SKY Perfect JSAT Group      Business            Japan         Success
34  Asia Broadcast Satellite      Business          Bermuda         Success
35         Eutelsat (Satmex)      Business  France (Mexico)         Success
33                   Thaicom      Business         Thailand         Success
32    SKY Perfect JSAT Group      Business            Japan         Success
31                      NASA    Government    United States         Success
30                       SES      Business       Luxembourg         Success
39    Iridium Communications      Business    United States         Success
15                   Thaicom      Business         Thailand         Success
14                       SES      Business       Luxembourg         Success
26          Turkmenistan NSA    Government     Turkmenistan         Success
23  Asia Broadcast Satellite      Business          Bermuda         Success
24         Eutelsat (Satmex)      Business  France (Mexico)         Success
19                   AsiaSat      Business            China         Success
18                   AsiaSat      Business            China         Success

                     Failure Reason Landing Type Landing Outcome
38  Vehicle Explosion Before Launch          NaN             NaN
37                              NaN         Ship         Success
34                              NaN         Ship         Failure
35                              NaN         Ship         Failure
33                              NaN         Ship         Success
32                              NaN         Ship         Success
31                              NaN         Ship         Success
30                              NaN         Ship         Failure
39                              NaN         Ship         Success
15                              NaN          NaN             NaN
14                              NaN          NaN             NaN
26                              NaN          NaN             NaN
23                              NaN          NaN             NaN
24                              NaN          NaN             NaN
19                              NaN          NaN             NaN
18                              NaN          NaN             NaN